{
  "branches": [
    "master",
    "next"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "npmPublish": true
      }
    ],
    [
      "@semantic-release/exec",
      {
        "publishCmd": "echo ::set-output name=nextVer::${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/git",
      {
        "message": "feat(release): updated to ${nextRelease.version} [skip ci]"
      }
    ]
  ]
}
